
<section><nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-size: 20px; background-color:rgb(255, 255, 186)!important; " >
  
  
    <!-- Container wrapper -->
    <div class="container-fluid" style="color: black;">
      
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarCenteredExample"
        aria-controls="navbarCenteredExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarCenteredExample"
      ><img src="https://t4.ftcdn.net/jpg/04/53/82/61/360_F_453826151_HkVWENXMPO0j9csiEyADvewaeHHzBRYP.jpg" width="100px" height="70" style="margin-right: 100px;">
        <!-- Left links -->
        <ul class="navbar-nav mb-2 mb-lg-0" style="color: black;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="Home">Home</a>
          </li>
          
          <!-- Navbar dropdown -->
          <li class="nav-item dropdown" style="color: black;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              Courses
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="java">Java</a>
              <a class="dropdown-item" routerLink="DotNet">DotNet</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Spoken English</a>
            </div>
          </li>
          <li class="nav-item" style="color: black;">
            <a class="nav-link" routerLink="registration">Registration</a>
          </li>
          <li class="nav-item" style="color: black;">
            <a class="nav-link" routerLink="gallery">Gallery</a>
          </li>
          <li class="nav-item" style="color: black;">
            <a class="nav-link" routerLink="contact">Contact Us</a>
          </li>
          <li class="nav-item" style="color: black;">
            <a class="nav-link" routerLink="rest">REST-Users</a>
          </li>
        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
</section>
