
<h1 class="text-center mb-4">HIGHLIGHTS</h1>
<div class="row">
	<a href="https://media.istockphoto.com/id/1447732423/photo/mature-adult-woman-working-at-home.jpg?s=1024x1024&w=is&k=20&c=6kYyTDBh9sb4FD1dTYszzXfqW3Fa1bEgvR0S9-m1jg4=" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://media.istockphoto.com/id/1447732423/photo/mature-adult-woman-working-at-home.jpg?s=1024x1024&w=is&k=20&c=6kYyTDBh9sb4FD1dTYszzXfqW3Fa1bEgvR0S9-m1jg4=" class="img-fluid">
	</a>
	<a href="https://media.istockphoto.com/id/1451440182/photo/man-working-late-at-night.jpg?s=1024x1024&w=is&k=20&c=XUp_fAZj3uwdQxbSMf69xREXs4fCzbBfHGDyG4ROeug=" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://media.istockphoto.com/id/1451440182/photo/man-working-late-at-night.jpg?s=1024x1024&w=is&k=20&c=XUp_fAZj3uwdQxbSMf69xREXs4fCzbBfHGDyG4ROeug=" class="img-fluid">
	</a>
	<a href="https://media.istockphoto.com/id/1493271502/photo/mature-man-working-from-home-using-a-computer.jpg?s=1024x1024&w=is&k=20&c=BjOcjS3Nvw_d2HjIpYVBgl2_oAlsZCpPkyyG5y-KQBc=" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://media.istockphoto.com/id/1493271502/photo/mature-man-working-from-home-using-a-computer.jpg?s=1024x1024&w=is&k=20&c=BjOcjS3Nvw_d2HjIpYVBgl2_oAlsZCpPkyyG5y-KQBc=" class="img-fluid">
	</a>
</div>
<div class="row">
	<a href="https://media.istockphoto.com/id/1448479624/photo/talking-and-working-on-video-calling.jpg?s=1024x1024&w=is&k=20&c=_oEykFcg8Q3xzyMu-3J7qGUMlkYfa0zrY00mU7yQJaI=" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://media.istockphoto.com/id/1448479624/photo/talking-and-working-on-video-calling.jpg?s=1024x1024&w=is&k=20&c=_oEykFcg8Q3xzyMu-3J7qGUMlkYfa0zrY00mU7yQJaI=" class="img-fluid">
	</a>
	<a href="https://media.istockphoto.com/id/1460535745/photo/e-learning-graduate-certificate-program-concept-lightbulb-on-the-book-with-graduation-hat-and.jpg?s=1024x1024&w=is&k=20&c=D-Pg0qUydCtivVeTploUNt6ytVJ3uTdHwLQmCGzZnxo=" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://media.istockphoto.com/id/1460535745/photo/e-learning-graduate-certificate-program-concept-lightbulb-on-the-book-with-graduation-hat-and.jpg?s=1024x1024&w=is&k=20&c=D-Pg0qUydCtivVeTploUNt6ytVJ3uTdHwLQmCGzZnxo=" class="img-fluid">
	</a>
	<a href="https://media.istockphoto.com/id/1419631265/photo/woman-following-online-courses-on-her-laptop-at-home.jpg?s=1024x1024&w=is&k=20&c=JFF-4DTUY2i9o4n47_Hr441W50VwClJ2Km8mQT2kjAU=" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="https://media.istockphoto.com/id/1419631265/photo/woman-following-online-courses-on-her-laptop-at-home.jpg?s=1024x1024&w=is&k=20&c=JFF-4DTUY2i9o4n47_Hr441W50VwClJ2Km8mQT2kjAU=" class="img-fluid">
	</a>
</div>