<div style="align-items: center; text-align: center; font-size: 50px;">
    <strong> JAVA </strong> <br>

    -----------------------
</div>

<div style="align-items: center; text-align: center;">
    <img src="./assets/img/java.jpg"/>
    <p>Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation</p>
    <p>
      It is a general-purpose programming language intended to let programmers write once, run anywhere
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit deserunt praesentium blanditiis animi possimus aliquam iure quia reiciendis.</p>
</div>
<br>


