<div style="align-items: center; text-align: center; font-size: 50px;">
    <strong> DotNet </strong> <br>
    
    -----------------------
</div>

<div style="align-items: center; text-align: center;">
    <img src="./assets/img/dotnet.jpg"/>
    <br>
    <br>
    <p>.NET is a free, cross-platform, open source developer platform for building many different types of applications.</p>
    <p>With .NET, you can use multiple languages, editors, and libraries to build for web, mobile, desktop, games, IoT, and more.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fuga fugit dolores maiores harum, quae eaque? Perspiciatis id pariatur quis!</p>
</div>
<br>

