
<section style="height:250px;">
    <article style="align-items: center; text-align: center;">
      <br>
      <h1>Welcome to LTIM</h1>
      <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, quaerat sequi ad molestias illum reprehenderit.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, iste!</p>
      <p>Lorem ipsum dolor sit amet.</p>
      
    </article>
    </section>
    <br>
    <section style="align-items: center; padding-left: 240px;">
      <h1 style="padding-top: 20px; align-items: center; ">Most Popular Courses</h1>
    
    <div style="background-color:#d3824d;width: 85%; height:500px; align-items: center; text-align: center;">
      
      <div class="row align-middle" style="padding-bottom: 20px; align-items: center; text-align: center;">
        
        <div class="col-md-6 col-lg-4 column">
          <div class="card gr-1" >
            <div class="txt">
              <h1>MEAN
                STACK
              </h1>
              <p>MEAN Stack is one of the most popular Technology Stack.</p>
            </div>
            <a href="#">more</a>
            <div class="ico-card">
            <i class="fa fa-rebel"></i>
          </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
          <div class="card gr-2">
            <div class="txt">
              <h1>MERN STACK</h1>
              <p>MERN Stack is a Javascript Stack that is used for easier.</p>
            </div>
            <a href="#">more</a>
          <div class="ico-card">
            <i class="fa fa-codepen"></i>
          </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 column" style="padding-right: 40px;">
          <div class="card gr-2">
            <div class="txt">
              <h1>AI/ML</h1>
              <p>Artificail Intelligence and Machine Learning. Lorem ipsum, dolor sit amet consectetur adip</p>
            </div>
            <a href="#">more</a>
          <div class="ico-card">
            <i class="fa fa-codepen"></i>
          </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
  
<br>
    