<div style="height:250px;">
    <article style="align-items: center; text-align: center;">
      <br>
      <h1>Welcome to LTIM</h1>
      <br>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta, quaerat sequi ad molestias illum reprehenderit.</p>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos, iste!</p>
      <p>Lorem ipsum dolor sit amet.</p>
      
    </article>
  </div>
    <br>
    <body>
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 col-lg-4">
                  <div class="card">
                      <label for="card1" aria-hidden="true" class="d-block w-100 h-100">
                          <input type="checkbox" id="card1" class="more" aria-hidden="true">
                          <div class="content">
                              <div class="front" style="background-image: url('./assets/img/java1.jpg')">
                                  <div class="inner position-relative text-center">
                                  </div>
                                  <div class="caption text-center">
      
                                      <h3></h3>
                                  </div>
                              </div>
                              <div class="back">
                                  <ul class="nav justify-content-center nav-justified" role="tablist">
                                      <li class="nav-item active">
                                          <a class="nav-link   show" href="#bio" role="tab" data-toggle="tab">About Java</a>
                                      </li>
                                      
                                  </ul>
                                  <div class="tab-content ">
                                      <div role="tabpanel" class="tab-pane fade show active" id="bio">
                                          <div class="bio">
                                              <h3 id="bio_title">JAVA</h3>
                                              <span id="bio_description">
                                                Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. It is a general-purpose programming language intended to let programmers write once, run anywhere.
                                              </span>
                                          </div>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>
                      </label>
                  </div>
              </div>
              <div class="col-12 col-lg-4">
                  <div class="card">
                      <label for="card2" aria-hidden="true" class="d-block w-100 h-100">
                          <input type="checkbox" id="card2" class="more" aria-hidden="true">
                          <div class="content">
                              <div class="front" style="background-image: url('./assets/img/dotnet.jpg')">
                                  <div class="inner position-relative text-center">
                                  </div>
                                  <div class="caption text-center">
      
                                      <h3> </h3>
                                  </div>
                              </div>
                              <div class="back">
                                  <ul class="nav justify-content-center nav-justified" role="tablist">
                                      <li class="nav-item active">
                                          <a class="nav-link   show" href="#bio2" role="tab" data-toggle="tab">About .NET</a>
                                      </li>
                          
                                  </ul>
                                  <div class="tab-content ">
                                      <div role="tabpanel" class="tab-pane fade show active" id="bio2">
                                          <div class="bio">
                                              <h3 id="bio_title">DotNet</h3>
                                              <span id="bio_description">
                                                NET Core, in an effort to include cross-platform support for .NET, including on Linux and macOS, source for the .NET Core CoreCLR implementation, source for the "entire library stack" for .NET Core,[7] and the adoption of a conventional open-source development model under the stewardship of the .NET Foundation.
                                              </span>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="album2">
                                          <div class="bio inline">
                                              <div class="row text-center">
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
      
                                              </div>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="songs2">
                                          <div class="songs">
                                              <div class="">
                                                  <div class="col">
                                                      <ul class="list-group list-group-flush list-unstyled">
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4 ">
                                                                      <img class="p-1" src='./images/Rectangle%2018@2x.png'
                                                                           width="80" height="90"/>
                                                                  </div>
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Thunder</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Origins - Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4 ">
                                                                      <img class="p-1" src='./images/Rectangle%2019@2x.png'
                                                                           width="80"/>
                                                                  </div>
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Demons</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Smoke & Mirrors - Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4">
                                                                      <img class="p-1" src='./images/Rectangle%2020.png'
                                                                           width="80"/>
                                                                  </div>
      
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Night Visions</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </label>
                  </div>
              </div>
              <div class="col-12 col-lg-4">
                  <div class="card">
                      <label for="card3" aria-hidden="true" class="d-block w-100 h-100">
                          <input type="checkbox" id="card3" class="more" aria-hidden="true">
                          <div class="content">
                              <div class="front" style="background-image: url('./assets/img/mean.png')">
                                  <div class="inner position-relative text-center">
                                  </div>
                                  <div class="caption text-center">
      
                                      <h3></h3>
                                  </div>
                              </div>
                              <div class="back">
                                  <ul class="nav justify-content-center nav-justified" role="tablist">
                                      <li class="nav-item active">
                                          <a class="nav-link   show" href="#bio3" role="tab" data-toggle="tab">Bio</a>
                                      </li>
                                     
                                  </ul>
                                  <div class="tab-content ">
                                      <div role="tabpanel" class="tab-pane fade show active" id="bio3">
                                          <div class="bio">
                                              <h3 id="bio_title">MEAN Stack</h3>
                                              <span id="bio_description">
                                                MEAN (MongoDB, Express.js, AngularJS (or Angular), and Node.js)[1] is a source-available JavaScript software stack for building dynamic web sites and web applications.A variation known as MERN replaces Angular with React.js front-end,and another named MEVN use Vue.js as front-end.
                                              </span>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="album3">
                                          <div class="bio inline">
                                              <div class="row text-center">
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
                                                  <div class="col">
                                                      <div>
                                                          <img class="" src='./images/Ellipse%201.png' width="80"/>
                                                      </div>
                                                      <div>
                                                          <span class="" id="albums_title">Albums</span>
                                                      </div>
                                                  </div>
      
                                              </div>
                                          </div>
                                      </div>
                                      <div role="tabpanel" class="tab-pane fade" id="songs3">
                                          <div class="songs">
                                              <div class="">
                                                  <div class="col">
                                                      <ul class="list-group list-group-flush list-unstyled">
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4 ">
                                                                      <img class="p-1" src='./images/Rectangle%2018@2x.png'
                                                                           width="80" height="90"/>
                                                                  </div>
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Thunder</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Origins - Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4 ">
                                                                      <img class="p-1" src='./images/Rectangle%2019@2x.png'
                                                                           width="80"/>
                                                                  </div>
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Demons</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Smoke & Mirrors - Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                          <li class="list-group-item">
                                                              <div class="row">
                                                                  <div class="col-4">
                                                                      <img class="p-1" src='./images/Rectangle%2020.png'
                                                                           width="80"/>
                                                                  </div>
      
                                                                  <div class="col-8 text-left">
                                                                      <div class="d-flex">
                                                                          <span > Night Visions</span>
                                                                          <small class="ml-auto">4:05 min</small>
                                                                      </div>
                                                                      <small>Imagine Dragons</small>
                                                                  </div>
                                                              </div>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </label>
                  </div>
              </div>
      
          </div>
      </div>
      
      </body>
      <script>
          $('li > a').on('click', function () {
              $('li').removeClass();
              $('li').addClass('nav-item');
              $(this).parent().addClass('nav-item active');
          });
      </script>
  
<br>
    